*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}

:root {
    --cafe-bg : #44321f;
    --verdeOscuro-bg:#175228;
    --verdeMedio-bg:#438856;
    --verdeClaro-bg:#69D387;
    --paloRosa-letra:#e8dbd7;
    --oscuro: #111111;
}
/* Estilo de textos */
/* h1,h2 */
.principal{
    font-family: "Open Sans Hebrew Extra Bold";
    font-size: 33px;
    line-height: 19px;
    letter-spacing: 1.2px;
    word-spacing: 7px; 
}
/* h3,h4,h5 */
.secundario{
    font-family: "Open Sans Hebrew Light";
    font-weight: 600;
    font-size: 33px;
    line-height: 19px;
    letter-spacing: 2.5px;
    word-spacing: 7px;
}
/* h6 */
.enfasis{
    font-family: "Open Sans Hebrew Bold";
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.2px;
    word-spacing: 9px;
}
/* p,li,a , etc */
.texto{
    font-family: "Open Sans Hebrew Light";
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.8px;
    word-spacing: 3px;
}
.texto-bold{
    font-family: "Open Sans Hebrew Extra Bold";
    line-height: 19px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.separador-out{
    border-right: 2px solid var(--paloRosa-letra);
    padding: 0.5rem;
}
.separador-in{
    padding-right: 0.3rem;
}
/* Fin de estilos globales */

/*Header*/
header{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 1vh;
    background-color: #111111;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem 0;
    background: rgba(17, 17, 17, 0.496);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(17, 17, 17, 0.58);
    
}
header > nav {
    display: flex;
    gap: 1.5rem;
}
header > nav > a {
    color: var(--paloRosa-letra) ;  
}
header > nav :hover{
    color: var(--verdeClaro-bg);
}
.carro-icon{
    border-left:  solid 2px #e8dbd7 ;
    padding: 0 1.5rem;
}


/*Footer*/
footer {
    background-image: url(../img/Banner\ footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: end;
    align-items: center;
}
footer img {
    height: 40vh;
    
}

/*Main*/
main{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}


.main-nav{
    background-color: var(--cafe-bg);
    background-position: right;
    background-size: auto;
    padding: 1rem;
    color: var(--paloRosa-letra);
}
.main-nav>a{
    color: var(--paloRosa-letra);  
}
.main-nav> :hover {
    color: var(--oscuro);
}
.main-sections{
    padding: 5rem;
    background-color: var(--paloRosa-letra);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.main-sections> h2 {
    width: 70vw;
}
.section-A{
    background-image: url(../img/section\ test\ B.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-A p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: var(--verdeMedio-bg);
}
.section-B{
    background-image: url(../img/sections\ test.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--paloRosa-letra);
}
.section-C{
    /* background-image : url(../img/proximamente\ test.png); */
    height: 60vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--paloRosa-letra);
}
.section-somos{
    width: 70vw;
    gap: 5rem;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
.inner-sectionB{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.inner-sectionB>div{
    padding: 3rem;
}
iframe{
    height: 50vh;
}
.locales-text{
    display: flex;
    flex-direction: column;
}
.locales-text>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 40%;
}
.locales-text>div>ul{
    padding: 0;
}
.rrss-texto>li>a{
    color: var(--paloRosa-letra);
}
.section-somos>p {
    width: 40vw;
}
#logo-sectionSomos { width: 500px; }

.carousel-indicators [data-bs-target]{
    background-clip: inherit !important;
    border-radius: 50%;
    width: 18px !important;
    height: 0px !important;
}

/* Alianzas */
.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-title span {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */ 

.accordion {
    border-color: #dedede;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    height: auto;
} 

.accordion-title h2,
.accordion-select  {
    /* background-color: #ffffff; */
    background-size: cover;
    background-position: center;
    /* filter: blur(5px); Adjust the blur value as desired */
    /* color: #7f8787; */
    width: 100%;
    height: 65px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.accordion-select {
    /* background-color: #ffffff; */
    
    margin-bottom: -65px;
    margin-right: 0;
}
.accordion-title {
    /* background-color: #ffffff; */
    
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: rgb(234, 234, 234);
    border-right-color: transparent;
} 

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
    background-color: #ffffff;
} 

.accordion-title h2  {	
    transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    padding-left: 33px;
    padding-right: 33px;
    line-height: 100px;
    height: 100px;
} 

.accordion-content {
    background-color: #f7f7f7;
    background-size: 100%;    
    color: white;
    /* color: #7f8787; */
    height: 280px;
    margin-bottom: -280px;
    margin-right: 0;
    padding: 30px;
    width: 100%;
} 

.contentA,
.contentB,
.contentC,
.contentD,
.contentE {
    background-size: 100%;
}

.contentA {
    background-image: url(../img/alianza1.jpg);
}
.contentB {
    background-image: url(../img/alianza2.jpg);
}
.contentC {
    background-image: url(../img/alianza3.jpg);
}
.contentD {
    background-image: url(../img/alianza4.jpg);
}
.contentE {
    background-image: url(../img/alianza5.jpg);
}